<h1>ITEMS</h1>


<ul>
  <% current_company.inventory_items.each do |item| %>
  <div>
    <p>item image</p>
    <%= link_to "#{item.name}", item %>
    </br>
    <%= "$#{item.price}" %>
    <%= "#{item.quantity} available"  %>
    <%= "More Info:#{item.description}"  %>
    </br>
    </br>
  </div>
  <% end %>
</ul>
