<h1> All companies </h1>


<ul>
  <% @companies.each do |company| %>
  <div>

    <p>company image</p>
    <p><%= company.company_name%></p>
    <p><%= link_to "#{company.email}", company %></p>
    <p>categories</p>
    </br>
    </br>
    </br>
    </br>

  </div>
  <% end %>
</ul>
