<h1> All companies </h1>


<ul>
  <% @companies.each do |company| %>
  <div>



    <% if company.avatar.attached? %>
      <%= image_tag company.avatar.variant(resize: "100x100") %>
    <% else %>
      <%= image_tag "https://www.sibbaldtraining.com/wp-content/uploads/2017/05/dummy-profile-pic-male1-300x300.jpg" %>
      <%end%>
    <p><%= link_to "#{company.company_name}", company %></p>
    <p><%= company.category %></p>
    </br>


  </div>
  <% end %>
</ul>
