<div class="flashcard-holder">
  <h3>Companies</h3>
  <div class="row">
  <% @companies.each do |company| %>
    <div class="col-sm">
      <% if company.avatar.attached? %>
        <%= image_tag company.avatar.variant(resize: "100x100") %>
      <% else %>
        <%= image_tag("party-item.png", {size: '300'})  %>
      <%end%>
      <h5><%= link_to "#{company.company_name}", company %></h5>
      <%= company.category %>
    </div>
    <% end %>
  </div>
</div>
