<h1> All companies </h1>


<ul>
  <% @companies.each do |company| %>
  <div>

    <p>company image</p>
    <p><%= link_to "#{company.company_name}", company %></p>
    <p><%= company.category %></p>
    </br>


  </div>
  <% end %>
</ul>
