/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

.navbar-brand {
  padding-left: 150px;
}

.container-fluid * {
  padding: 0px 150px;
  /* no sirve bien */
}

#thumbnail {
  max-height: 500px;
  max-width: 500px;
  border: .5px solid grey;
  border-radius: 10px 25px;
}

.flashcard-holder{
  margin: 0px 150px;
  background-color: blue;
  display: flex;
  align-items: center;
}

.row {
}

.flashcard{
  margin: 10px;
  padding: 10px;
  width: 300px;
  background-color: red;
}


.flashcard img{
  border-radius: 3px;
  max-width: 280px;
}

.gallery{

}

.table{

}

.form{

}
